<footer class="text-center">
    <div class="container-footer">
        <div class="row">
        <p><a href='/about'>About Us</a></p>
        <p>Copyright &copy; 2022 All Rights Reserved By <span>Gator Hunter</span></p>
            <div id="footer"></div>
        </div>
    </div>
</footer>