<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>About Sebin</title>
        <!--Favicon -->
        <link rel="shortcut icon" href="img/favicon.ico">

        <!--basic seo-->
        <meta name="description" content="CSC 648 Team 4 Project">

        <!-- Fontawesome -->
        <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
        <link rel=”stylesheet” href=”https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css”>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <%- include("partials/header") %>

        <h1 id="sebin-head"><center>Sebin Yoon</center><br></h1>
        <img src="img/IMG_0725.jpg" width="300" height="300">
        <p>I am working as the Git Master and the front end of this project</p>
        <div id="home-btn">
            <a class="btn btn-general btn-home smooth-scroll" href="about" title="About Us" role="button">Back</a><br>
        </div>
            <!--footer-->
    <%-include("partials/footer")%>
    </body>
</html>